body {
    height: 100vh;
    background-color: #000000;
    color: #f6f6f6;
    box-sizing: border-box;
}

.container {
    display: flex;
    
}

.div1, .div2 {
    flex: 1;
    padding: 10px;
    border: 0px solid black;
}

.Titulo-container {
    display: flex;
    justify-content: flex-start;
    margin-left: 180px;
}

.Titulo {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: #190e5a;
    margin-right: 80px;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

h1 {
    
    color: #d7e7ec;
    font-family: 'Krona One', sans-serif;
    font-size: 50px;
    margin-top: 100px;
    margin-bottom: 50px;
    margin-left: 100px;
}

strong {
    color: #2102d2;
    font-size: 50px;
    font-family: 'Krona One', sans-serif;
}
p {
    color: #61a5bb;
    font-family: 'Krona One', sans-serif;
    font-size: 25px;
    margin-left: 100px;  
}
#meuperfil {
    width: 500px;
    height: 700px;
    margin-top: 168px;
    margin-bottom: 100px;
    margin-left: 80px;
    animation: 2s ease-out 0s 1 slidein;
}


.Acesse {
    color:  #61a5bb;
    font-family:monospace; 
    font-size: 30px;
    margin-left: 300px;
    font-weight: bold;
}
